@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kaushan Script */
@font-face {
  font-family: 'Kaushan Script';
  src: url('/fonts/kaushan-script-v19-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Router - Regular */
@font-face {
  font-family: 'Router';
  src: url('/fonts/fonnts.com-Router.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Router - Thin */
@font-face {
  font-family: 'Router Thin';
  src: url('/fonts/fonnts.com-Router_Thin.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Router - Light */
@font-face {
  font-family: 'Router';
  src: url('/fonts/fonnts.com-Router_Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Router - Medium */
@font-face {
  font-family: 'Router';
  src: url('/fonts/fonnts.com-Router_Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Router - Bold */
@font-face {
  font-family: 'Router Bold';
  src: url('/fonts/fonnts.com-Router_Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Router - ExtraLight */
@font-face {
  font-family: 'Router';
  src: url('/fonts/fonnts.com-Router_Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Router', sans-serif;
  color: #1B223F;
}

/* Estilos base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remover estilos padrão de links */
a {
  text-decoration: none;
  color: inherit;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}
